main {
  padding-top: 32px;
}

#back-button {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.21);
  border: none;
  outline: none;
  padding: 12px 32px;
  border-radius: 4px;
  margin-left: 40px;
  cursor: pointer;
}

.country-details-container {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}
.country-details-container img {
  max-width: 340px;
}
.country-details {
  flex-basis: 600px;
}
.country-details-text {
  padding: 20px 30px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.country-details-text h2 {
  font-size: 32px;
  font-weight: 600;
}
.border-countries-container {
  max-width: 700px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.border-countries-container a {
  cursor: pointer;
  text-decoration-line: none;
  color: #000;
  font-weight: 500;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.21);
}
