* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee8b;
  font-family: "Nunito", sans-serif;
}

:root {
  ---font-color-primary: #000;
}
a {
  text-decoration-line: none;
}

/***************** Header Section Starts ******************* */
.header-container {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
  background-color: #fff;
}
header {
  padding: 32px 0;
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/***************** Header Section Ends ******************* */

/***************** Main Section Starts ******************* */
main {
  margin: 32px;
}

.countries-container {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}
.country-card {
  color: var(---font-color-primary);
  flex-basis: 280px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.23);
  overflow-y: hidden;
}
.country-card h2 {
  margin: 22px 0 0 20px;
}
.country-flag {
  width: 100%;
  max-width: 280px;
  height: 140px;
}
.country-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.country-details {
  padding: 20px 20px 42px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/***************** Main Section Ends ******************* */

/***************** Media Queries ******************* */
